header{
    .navbar{
        // background-color: #162253;
        padding: 1rem;
        border-bottom: 1px solid #e3e3e3;
        .user-dropdown{
            a{
                text-decoration: none;
                figure{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
                p{
                    font-size: .9rem;
                    line-height: .9rem;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                span{
                    font-size: 12px;
                    font-weight: 300;
                    color: #666;
                    line-height: 12px;
                }
            }
        }
    }
}